@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f9fc;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.about-mb-15 {
  margin-bottom: 15px;
}
.about-mb-30 {
  margin-bottom: 30px;
}
.about-mt-30 {
  margin-top: 30px;
}

.about-wrapper {
  width: 1400px;
  margin: 0 auto;
  padding-top: 100px;
  //   border: 1px solid red;
}

.about-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__box {
    padding-right: 80px;

    &--right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    h2 {
      font-size: 42px;
    }

    p {
      color: #535e7f;
      font-size: 18px;
      line-height: 1.7;
    }

    &__inner-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}

.about-right-side__box {
  text-align: center;

  border-radius: 10px;
  border: 1px solid #0000000f;

  display: grid;
  place-items: center;
  padding: 3.5em;

  &__content-group {
    P {
      font-size: 42px;
      font-weight: 500;
    }
  }
}

.sp-material {
  font-size: 50px;
  font-weight: 100;
}

.sp-bg-1 {
  color: #a265f1;
  background-color: #f3f1fc;
}
.sp-bg-2 {
  color: #06bcf2;
  background-color: #eaf6fd;
}
.sp-bg-3 {
  color: #fabf15;
  background-color: #f9f6ef;
}
.sp-bg-4 {
  color: #fabf15;
  background-color: #f9f6ef;
}
.sp-bg-5 {
  color: #a265f1;
  background-color: #f3f1fc;
}
.sp-bg-6 {
  color: #06bcf2;
  background-color: #eaf6fd;
}
