/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
/* .wp-block-create-block-revisedblock {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
} */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}
.wrapper .grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sp-team {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  background-color: #f7f8fc;
  border-radius: 6px;
  overflow: hidden;
}
.sp-team.rounded {
  border-radius: 150px 150px 150px 150px;
}
.sp-team.two-rounded {
  border-radius: 120px 0px 120px 0px;
}
.sp-team__wrapper {
  display: flex;
  flex-direction: column;
}
.sp-team__wrapper__member {
  height: 40%;
}
.sp-team__wrapper__member--height {
  max-height: 300px;
  margin-top: -10px;
  margin-bottom: 25px;
}
.sp-team__wrapper__member__picture {
  width: 100%;
}
.sp-team__wrapper__member__picture--circle {
  /* mask-image: url('./../img/polygon.svg');
  mask-repeat: no-repeat;
  -webkit-mask-position: 50% 20%;
  mask-size: 200px 200px; */
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
  margin-top: -20px;
}
.sp-team__wrapper__member__picture--polygon {
  -webkit-mask-image: url("./../img/polygon.svg");
          mask-image: url("./../img/polygon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  mask-position: top center;
  -webkit-mask-position: top center;
  -webkit-mask-size: 50% 50%;
          mask-size: 50% 50%;
}
.sp-team__wrapper__member__picture--angle {
  -webkit-mask-image: url("./../img/angle.svg");
          mask-image: url("./../img/angle.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  mask-position: top right;
  -webkit-mask-position: top right;
  -webkit-mask-size: 60% 77%;
          mask-size: 60% 77%;
}
.sp-team__wrapper__body {
  height: 60%;
  text-align: center;
  padding: 30px;
}
.sp-team__wrapper__body__name {
  font-size: 24px !important;
  font-weight: 500 !important;
  margin-bottom: 15px;
  color: #151515;
  margin: 0;
  background: linear-gradient(51deg, #7141f1 50%, #4d6bd8 75%, #3183e2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sp-team__wrapper__body__position {
  font-size: 14px;
  color: #9e9e9e;
  margin-bottom: 25px;
}
.sp-team__wrapper__body__about {
  font-size: 14px;
  color: #9e9e9e;
}
.sp-team__wrapper__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.sp-team__wrapper__socials__link {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #a1a1a1;
  color: #000;
  text-decoration: none;
  display: grid;
  place-items: center;
}
.sp-team__wrapper__socials__link .material-icons {
  font-size: 16px;
  background: linear-gradient(51deg, #7141f1 50%, #4d6bd8 75%, #3183e2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sp-team__wrapper__socials__link:not(:last-child) {
  margin-right: 7px;
}
.sp-team__wrapper__socials__link:hover {
  background-color: rgb(207, 210, 31);
}
.sp-team__wrapper__socials__link:hover i {
  color: black;
}

.img-box {
  width: 600px;
  border: 1px solid red;
  margin: 0 auto;
}
.img-box__figure__image {
  -webkit-mask-image: url("./../img/angle.svg");
          mask-image: url("./../img/angle.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  mask-position: top right;
  -webkit-mask-position: top right;
  -webkit-mask-size: 180px 180px;
          mask-size: 180px 180px;
}/*# sourceMappingURL=clipimage.css.map */