* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.table-container {
  width: 1200px;
  margin: 100px auto;
}
.flex-container {
  border: 2px solid rgb(0 0 0 / 0.2);
  display: inline-flex;
  flex-direction: column;

  &__items {
    display: flex;

    &__item {
      display: flex;

      li {
        border: 2px solid rgb(0 0 0 / 0.2);
        padding: 20px;
      }
    }
  }
}

/* ======== sp-flex-table start ======== */
.sp-flex-table {
  display: inline-flex;
  // flex-direction: row;

  &__item {
    border: 1px solid red;
    padding: 20px;
  }
}
